yabause/src/android/res/values/security.xml
yabause/src/zlib/zconf.h
/.gradle/
/local.properties
.DS_Store
*.iml
build/
/*build/
**/*build/*
*.a
*.so
*.swp
yabause/.vs/slnx.sqlite
yabause/.vs/yabause/v15/Browse.VC.db
yabause/.vs/yabause/v15/Browse.VC.opendb
yabause/.vs/yabause/v15/ipch/AutoPCH/ac374fd6e6518240/YGLES.ipch
yabause/.vs/slnx.sqlite-journal
yabause/.vs/ProjectSettings.json
