<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.uoyabause.android"
      android:versionCode="44"
      android:versionName="0.1.20d">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21"/>
    <application android:label="@string/app_name" android:name="org.uoyabause.android.YabauseApplication" android:icon="@drawable/icon" android:logo="@drawable/banner" android:isGame="true" >

        <meta-data android:name="AA_DB_NAME" android:value="localgameinfo.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data android:name="AA_MODELS"  android:value="org.uoyabause.android.GameInfo" />

        <activity android:name="Home"
                  android:screenOrientation="landscape"
                  android:logo="@drawable/banner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
 
        <activity android:name="GameList"
                  android:screenOrientation="landscape" />
<!-- 
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
        -->
        
        <activity android:name="Yabause"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="landscape"
                  android:label="@string/app_name">
       		<intent-filter>
               	<action android:name="android.intent.action.MAIN" />
			</intent-filter>
	</activity>

        <activity android:name="YabauseSettings"
                  android:screenOrientation="landscape" />
        
        
        <activity android:name="PadTestActivity"
            		android:configChanges="orientation|keyboardHidden"
                  	android:screenOrientation="landscape" />

        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow"> </uses-library>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
    </application>
    <uses-feature android:name="android.software.leanback" android:required="false" />    
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" />
</manifest>
